{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block content %}
    <div style="border: 3px solid #000000; border-radius: 25px; width: 40%;">
            <h3 style="margin-left: 10px;">{{ book.title }}({{ book.author }})
                <a href="{% url 'book_delete' book.pk %}"><img src="https://img.icons8.com/ios/64/000000/remove-property.png" style="
    width: 35px;
    height: 35px;
"/></a>
            <a href="{% url 'book_update' book.pk %}"><img src="https://img.icons8.com/metro/26/000000/add-property.png" style="
    width: 35px;
    height: 35px;
    margin-left: 5px;
"/></a></h3>
            <p style="margin-left: 5px;">{{ book.text }}</p>
        </div>
{% endblock %}
